@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.boton-Buscar {
  background-color: blue;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.boton-Buscar:hover {
  background-color: white;
  color: blue;
  font-weight: bold;
  border: 2px solid black;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.filtros{
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.select-actividad {
  width: 150px;
}